<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_06_attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.50000,0.01449}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,207}</string>
                <key>spriteSourceSize</key>
                <string>{181,207}</string>
                <key>textureRect</key>
                <string>{{447,208},{181,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_06_attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.50000,0.00962}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,208}</string>
                <key>spriteSourceSize</key>
                <string>{183,208}</string>
                <key>textureRect</key>
                <string>{{445,417},{183,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_06_attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.58187,0.09821}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,224}</string>
                <key>spriteSourceSize</key>
                <string>{342,224}</string>
                <key>textureRect</key>
                <string>{{2,632},{342,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_06_attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.58295,0.10177}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{434,226}</string>
                <key>spriteSourceSize</key>
                <string>{434,226}</string>
                <key>textureRect</key>
                <string>{{346,632},{434,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_06_hurt_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.42697,0.06573}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,213}</string>
                <key>spriteSourceSize</key>
                <string>{267,213}</string>
                <key>textureRect</key>
                <string>{{630,417},{267,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_06_idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.38614,0.02451}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,204}</string>
                <key>spriteSourceSize</key>
                <string>{202,204}</string>
                <key>textureRect</key>
                <string>{{219,2},{202,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_06_idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.38263,0.02899}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,207}</string>
                <key>spriteSourceSize</key>
                <string>{213,207}</string>
                <key>textureRect</key>
                <string>{{2,417},{213,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_06_idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.38128,0.02913}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,206}</string>
                <key>spriteSourceSize</key>
                <string>{219,206}</string>
                <key>textureRect</key>
                <string>{{226,208},{219,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_06_idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.40722,0.02899}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,207}</string>
                <key>spriteSourceSize</key>
                <string>{194,207}</string>
                <key>textureRect</key>
                <string>{{630,208},{194,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_06_run_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.50000,0.00000}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,201}</string>
                <key>spriteSourceSize</key>
                <string>{215,201}</string>
                <key>textureRect</key>
                <string>{{2,2},{215,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_06_run_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.50000,0.00000}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,206}</string>
                <key>spriteSourceSize</key>
                <string>{222,206}</string>
                <key>textureRect</key>
                <string>{{2,208},{222,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_06_run_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.50000,0.00000}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,204}</string>
                <key>spriteSourceSize</key>
                <string>{217,204}</string>
                <key>textureRect</key>
                <string>{{423,2},{217,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_06_run_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.50000,0.00000}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,208}</string>
                <key>spriteSourceSize</key>
                <string>{226,208}</string>
                <key>textureRect</key>
                <string>{{217,417},{226,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_06_wait.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.38614,0.02451}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,204}</string>
                <key>spriteSourceSize</key>
                <string>{202,204}</string>
                <key>textureRect</key>
                <string>{{642,2},{202,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
		</dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Boss_06.png</string>
            <key>size</key>
            <string>{899,860}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e744a73f16b670187627a00d6ad61d2:d5493c6d1756f225ad3cfdf40ef1f261:30a34e9fe53e14ffa7a51c42de3f4eda$</string>
            <key>textureFileName</key>
            <string>Boss_06.png</string>
        </dict>
    </dict>
</plist>
