<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_04_attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.48969,0.02500}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,200}</string>
                <key>spriteSourceSize</key>
                <string>{194,200}</string>
                <key>textureRect</key>
                <string>{{2,2},{194,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_04_attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.66990,0.03365}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{309,208}</string>
                <key>spriteSourceSize</key>
                <string>{309,208}</string>
                <key>textureRect</key>
                <string>{{198,2},{309,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_04_attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.66570,0.04412}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{344,204}</string>
                <key>spriteSourceSize</key>
                <string>{344,204}</string>
                <key>textureRect</key>
                <string>{{509,2},{344,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_04_attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.66272,0.03061}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{338,196}</string>
                <key>spriteSourceSize</key>
                <string>{338,196}</string>
                <key>textureRect</key>
                <string>{{2,212},{338,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_04_hurt_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.48077,0.11417}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,254}</string>
                <key>spriteSourceSize</key>
                <string>{312,254}</string>
                <key>textureRect</key>
                <string>{{342,212},{312,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_04_idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.43434,0.01951}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,205}</string>
                <key>spriteSourceSize</key>
                <string>{198,205}</string>
                <key>textureRect</key>
                <string>{{656,212},{198,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_04_idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.44388,0.01970}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,203}</string>
                <key>spriteSourceSize</key>
                <string>{196,203}</string>
                <key>textureRect</key>
                <string>{{2,468},{196,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_04_idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.44390,0.02010}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,199}</string>
                <key>spriteSourceSize</key>
                <string>{205,199}</string>
                <key>textureRect</key>
                <string>{{200,468},{205,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_04_idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.43000,0.01456}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,206}</string>
                <key>spriteSourceSize</key>
                <string>{200,206}</string>
                <key>textureRect</key>
                <string>{{407,468},{200,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_04_run_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.43439,0.02030}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,197}</string>
                <key>spriteSourceSize</key>
                <string>{221,197}</string>
                <key>textureRect</key>
                <string>{{609,468},{221,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_04_run_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.48485,0.01970}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,203}</string>
                <key>spriteSourceSize</key>
                <string>{198,203}</string>
                <key>textureRect</key>
                <string>{{2,676},{198,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_04_run_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.41148,0.01980}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,202}</string>
                <key>spriteSourceSize</key>
                <string>{209,202}</string>
                <key>textureRect</key>
                <string>{{202,676},{209,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_04_run_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.40889,0.02463}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,203}</string>
                <key>spriteSourceSize</key>
                <string>{225,203}</string>
                <key>textureRect</key>
                <string>{{413,676},{225,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_04_wait.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.43434,0.01951}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,205}</string>
                <key>spriteSourceSize</key>
                <string>{198,205}</string>
                <key>textureRect</key>
                <string>{{640,676},{198,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Boss_04.png</string>
            <key>size</key>
            <string>{856,883}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8e996a88ed8f34a556d146bc3dc30cd6:4cc67be77356222e35310debc10a0e45:9b1a73f7e2042ffb399771812007cb39$</string>
            <key>textureFileName</key>
            <string>Boss_04.png</string>
        </dict>
    </dict>
</plist>
