<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_07_attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.52475,0.01770}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,226}</string>
                <key>spriteSourceSize</key>
                <string>{202,226}</string>
                <key>textureRect</key>
                <string>{{401,443},{202,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_07_attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.56701,0.01345}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,223}</string>
                <key>spriteSourceSize</key>
                <string>{194,223}</string>
                <key>textureRect</key>
                <string>{{609,219},{194,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_07_attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.52713,0.11682}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,214}</string>
                <key>spriteSourceSize</key>
                <string>{258,214}</string>
                <key>textureRect</key>
                <string>{{450,0},{258,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_07_attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.52667,0.00990}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,202}</string>
                <key>spriteSourceSize</key>
                <string>{225,202}</string>
                <key>textureRect</key>
                <string>{{0,0},{225,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_07_hurt_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.29778,0.04695}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,213}</string>
                <key>spriteSourceSize</key>
                <string>{225,213}</string>
                <key>textureRect</key>
                <string>{{225,0},{225,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_07_idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.45876,0.00442}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,226}</string>
                <key>spriteSourceSize</key>
                <string>{194,226}</string>
                <key>textureRect</key>
                <string>{{603,443},{194,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_07_idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.45000,0.00901}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,222}</string>
                <key>spriteSourceSize</key>
                <string>{200,222}</string>
                <key>textureRect</key>
                <string>{{216,219},{200,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_07_idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.46373,0.00901}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,222}</string>
                <key>spriteSourceSize</key>
                <string>{193,222}</string>
                <key>textureRect</key>
                <string>{{416,219},{193,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_07_idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.46392,0.00913}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,219}</string>
                <key>spriteSourceSize</key>
                <string>{194,219}</string>
                <key>textureRect</key>
                <string>{{708,0},{194,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_07_run_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.44444,0.02273}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,220}</string>
                <key>spriteSourceSize</key>
                <string>{216,220}</string>
                <key>textureRect</key>
                <string>{{0,219},{216,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_07_run_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.49490,0.02679}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,224}</string>
                <key>spriteSourceSize</key>
                <string>{196,224}</string>
                <key>textureRect</key>
                <string>{{0,443},{196,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_07_run_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.48537,0.02232}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,224}</string>
                <key>spriteSourceSize</key>
                <string>{205,224}</string>
                <key>textureRect</key>
                <string>{{196,443},{205,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_07_run_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.54211,0.02679}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,224}</string>
                <key>spriteSourceSize</key>
                <string>{190,224}</string>
                <key>textureRect</key>
                <string>{{803,219},{190,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_07_wait.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.45876,0.00442}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,226}</string>
                <key>spriteSourceSize</key>
                <string>{194,226}</string>
                <key>textureRect</key>
                <string>{{797,443},{194,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Boss_07.png</string>
            <key>size</key>
            <string>{993,669}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a1882ca564d27f6264f094fea250f936:6e0712a6f0f44d5c8a60c899af620a12:d0c04cb28d28fd6cfb2dfb34b52cbe71$</string>
            <key>textureFileName</key>
            <string>Boss_07.png</string>
        </dict>
    </dict>
</plist>
