<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_03_attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.50820,0.02604}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,192}</string>
                <key>spriteSourceSize</key>
                <string>{244,192}</string>
                <key>textureRect</key>
                <string>{{2,2},{244,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_03_attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.53086,0.02116}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,189}</string>
                <key>spriteSourceSize</key>
                <string>{243,189}</string>
                <key>textureRect</key>
                <string>{{248,2},{243,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_03_attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.63768,0.08374}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{276,203}</string>
                <key>spriteSourceSize</key>
                <string>{276,203}</string>
                <key>textureRect</key>
                <string>{{493,2},{276,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_03_attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.67340,0.03175}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{297,189}</string>
                <key>spriteSourceSize</key>
                <string>{297,189}</string>
                <key>textureRect</key>
                <string>{{2,207},{297,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_03_hurt_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.46595,0.08661}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{279,254}</string>
                <key>spriteSourceSize</key>
                <string>{279,254}</string>
                <key>textureRect</key>
                <string>{{301,207},{279,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_03_idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.53586,0.01075}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,186}</string>
                <key>spriteSourceSize</key>
                <string>{237,186}</string>
                <key>textureRect</key>
                <string>{{582,207},{237,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_03_idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.55128,0.02222}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,180}</string>
                <key>spriteSourceSize</key>
                <string>{234,180}</string>
                <key>textureRect</key>
                <string>{{2,463},{234,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_03_idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.54202,0.01613}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,186}</string>
                <key>spriteSourceSize</key>
                <string>{238,186}</string>
                <key>textureRect</key>
                <string>{{238,463},{238,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_03_idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.54008,0.01657}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,181}</string>
                <key>spriteSourceSize</key>
                <string>{237,181}</string>
                <key>textureRect</key>
                <string>{{478,463},{237,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_03_run_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.50000,0.01531}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,196}</string>
                <key>spriteSourceSize</key>
                <string>{235,196}</string>
                <key>textureRect</key>
                <string>{{717,463},{235,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_03_run_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.50000,0.01622}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,185}</string>
                <key>spriteSourceSize</key>
                <string>{232,185}</string>
                <key>textureRect</key>
                <string>{{2,661},{232,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_03_run_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.50000,0.01563}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,192}</string>
                <key>spriteSourceSize</key>
                <string>{226,192}</string>
                <key>textureRect</key>
                <string>{{236,661},{226,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_03_run_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.50000,0.01500}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,200}</string>
                <key>spriteSourceSize</key>
                <string>{238,200}</string>
                <key>textureRect</key>
                <string>{{464,661},{238,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_03_wait.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.53586,0.01075}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,186}</string>
                <key>spriteSourceSize</key>
                <string>{237,186}</string>
                <key>textureRect</key>
                <string>{{704,661},{237,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Boss_03.png</string>
            <key>size</key>
            <string>{954,863}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:15065e7dc80f1e1f55e0dfff299de2c1:c33dee3bf47fa329c1ee2c1c5dd9324c:ef2864fc48cd5f7ec70dedb20b8ec872$</string>
            <key>textureFileName</key>
            <string>Boss_03.png</string>
        </dict>
    </dict>
</plist>
