<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_beam.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.0,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,15}</string>
                <key>spriteSourceSize</key>
                <string>{100,15}</string>
                <key>textureRect</key>
                <string>{{2,2},{100,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_missile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,180}</string>
                <key>spriteSourceSize</key>
                <string>{25,180}</string>
                <key>textureRect</key>
                <string>{{2,19},{25,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Boss_Skill.png</string>
            <key>size</key>
            <string>{104,201}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d808dda39f364c1bffa4281dfba8f248:5d40ffbcf46d94eb6f4ac51df7eb9be7:21890cf5f453f2b4fd016ccef9541349$</string>
            <key>textureFileName</key>
            <string>Boss_Skill.png</string>
        </dict>
    </dict>
</plist>
