<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_02_attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.52153,0.03646}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,192}</string>
                <key>spriteSourceSize</key>
                <string>{209,192}</string>
                <key>textureRect</key>
                <string>{{744,193},{209,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_02_attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.34118,0.03125}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,192}</string>
                <key>spriteSourceSize</key>
                <string>{170,192}</string>
                <key>textureRect</key>
                <string>{{572,193},{170,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_02_attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.29379,0.03125}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,192}</string>
                <key>spriteSourceSize</key>
                <string>{177,192}</string>
                <key>textureRect</key>
                <string>{{393,193},{177,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_02_attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.75676,0.12736}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,212}</string>
                <key>spriteSourceSize</key>
                <string>{296,212}</string>
                <key>textureRect</key>
                <string>{{430,387},{296,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_02_attack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.68724,0.04945}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,182}</string>
                <key>spriteSourceSize</key>
                <string>{243,182}</string>
                <key>textureRect</key>
                <string>{{2,2},{243,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_02_hurt_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.41837,0.00000}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,236}</string>
                <key>spriteSourceSize</key>
                <string>{245,236}</string>
                <key>textureRect</key>
                <string>{{728,387},{245,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_02_idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.50000,0.00000}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,189}</string>
                <key>spriteSourceSize</key>
                <string>{179,189}</string>
                <key>textureRect</key>
                <string>{{609,2},{179,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_02_idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.50000,0.02151}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,186}</string>
                <key>spriteSourceSize</key>
                <string>{179,186}</string>
                <key>textureRect</key>
                <string>{{428,2},{179,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_02_idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.50000,0.01630}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,184}</string>
                <key>spriteSourceSize</key>
                <string>{179,184}</string>
                <key>textureRect</key>
                <string>{{247,2},{179,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_02_idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.50000,0.02116}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,189}</string>
                <key>spriteSourceSize</key>
                <string>{179,189}</string>
                <key>textureRect</key>
                <string>{{790,2},{179,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_02_run_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.51185,0.02591}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,193}</string>
                <key>spriteSourceSize</key>
                <string>{211,193}</string>
                <key>textureRect</key>
                <string>{{2,387},{211,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_02_run_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.55399,0.02591}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,193}</string>
                <key>spriteSourceSize</key>
                <string>{213,193}</string>
                <key>textureRect</key>
                <string>{{215,387},{213,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_02_run_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.48558,0.02083}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,192}</string>
                <key>spriteSourceSize</key>
                <string>{208,192}</string>
                <key>textureRect</key>
                <string>{{183,193},{208,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_02_wait.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.50000,0.00000}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,189}</string>
                <key>spriteSourceSize</key>
                <string>{179,189}</string>
                <key>textureRect</key>
                <string>{{2,193},{179,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Boss_02.png</string>
            <key>size</key>
            <string>{975,625}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:869fdcacb7f54e3198c619cf6ba5547c:e3ef127fa41b06c379e67b5c096a9959:939c8cf533aa3eb6791572cd4166a6e5$</string>
            <key>textureFileName</key>
            <string>Boss_02.png</string>
        </dict>
    </dict>
</plist>
