<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
			<key>boss_05_attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.46875,0.01449}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,207}</string>
                <key>spriteSourceSize</key>
                <string>{160,207}</string>
                <key>textureRect</key>
                <string>{{2,2},{160,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_05_attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.38298,0.01408}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,213}</string>
                <key>spriteSourceSize</key>
                <string>{141,213}</string>
                <key>textureRect</key>
                <string>{{2,216},{141,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_05_attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.68512,0.07547}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{289,212}</string>
                <key>spriteSourceSize</key>
                <string>{289,212}</string>
                <key>textureRect</key>
                <string>{{164,2},{289,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_05_attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.73759,0.10044}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,229}</string>
                <key>spriteSourceSize</key>
                <string>{282,229}</string>
                <key>textureRect</key>
                <string>{{2,1095},{282,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_05_hurt_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.64032,0.05505}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,218}</string>
                <key>spriteSourceSize</key>
                <string>{253,218}</string>
                <key>textureRect</key>
                <string>{{2,651},{253,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_05_idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.47857,0.01370}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,219}</string>
                <key>spriteSourceSize</key>
                <string>{140,219}</string>
                <key>textureRect</key>
                <string>{{144,872},{140,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_05_idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.47794,0.01395}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,215}</string>
                <key>spriteSourceSize</key>
                <string>{136,215}</string>
                <key>textureRect</key>
                <string>{{2,432},{136,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_05_idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.47101,0.01370}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,219}</string>
                <key>spriteSourceSize</key>
                <string>{138,219}</string>
                <key>textureRect</key>
                <string>{{257,651},{138,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_05_idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.46350,0.01402}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,214}</string>
                <key>spriteSourceSize</key>
                <string>{137,214}</string>
                <key>textureRect</key>
                <string>{{145,216},{137,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_05_run_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.02315}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,216}</string>
                <key>spriteSourceSize</key>
                <string>{151,216}</string>
                <key>textureRect</key>
                <string>{{140,432},{151,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_05_run_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.50667,0.01843}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,217}</string>
                <key>spriteSourceSize</key>
                <string>{150,217}</string>
                <key>textureRect</key>
                <string>{{293,432},{150,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_05_run_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.50658,0.01869}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,214}</string>
                <key>spriteSourceSize</key>
                <string>{152,214}</string>
                <key>textureRect</key>
                <string>{{284,216},{152,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_05_run_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.51974,0.01357}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,221}</string>
                <key>spriteSourceSize</key>
                <string>{152,221}</string>
                <key>textureRect</key>
                <string>{{286,872},{152,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_05_wait.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.47857,0.01370}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,219}</string>
                <key>spriteSourceSize</key>
                <string>{140,219}</string>
                <key>textureRect</key>
                <string>{{2,872},{140,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Boss_05.png</string>
            <key>size</key>
            <string>{455,1326}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2fac224506ee855bcab296df31cd1ae6:e51f4d562bd551922851e5114a366b75:ca246d1057e42d1e3ca37b46d03ad3a5$</string>
            <key>textureFileName</key>
            <string>Boss_05.png</string>
        </dict>
    </dict>
</plist>
