<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>NPC_01_wait.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.39841,0.04086}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,465}</string>
                <key>spriteSourceSize</key>
                <string>{251,465}</string>
                <key>textureRect</key>
                <string>{{2,2},{251,465}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NPC_02_wait.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.39241,0.02045}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,489}</string>
                <key>spriteSourceSize</key>
                <string>{158,489}</string>
                <key>textureRect</key>
                <string>{{255,2},{158,489}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NPC_03_wait.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.41778,0.02592}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,463}</string>
                <key>spriteSourceSize</key>
                <string>{225,463}</string>
                <key>textureRect</key>
                <string>{{415,2},{225,463}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NPC_04_wait.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.37245,0.02355}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,467}</string>
                <key>spriteSourceSize</key>
                <string>{196,467}</string>
                <key>textureRect</key>
                <string>{{642,2},{196,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NPC_05_wait.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.39269,0.02165}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,462}</string>
                <key>spriteSourceSize</key>
                <string>{219,462}</string>
                <key>textureRect</key>
                <string>{{840,2},{219,462}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>NPC.png</string>
            <key>size</key>
            <string>{1061,493}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17eef5cfffbccee0851a4eced493abd1:61b97afb8ccb6861d8ccd10356a8b2ba:ded54809bebcba1ae23ac6d4877eedba$</string>
            <key>textureFileName</key>
            <string>NPC.png</string>
        </dict>
    </dict>
</plist>
