<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_02_attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.5,0.0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,64}</string>
                <key>spriteSourceSize</key>
                <string>{54,64}</string>
                <key>textureRect</key>
                <string>{{0,0},{54,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_02_attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.5,0.0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,64}</string>
                <key>spriteSourceSize</key>
                <string>{54,64}</string>
                <key>textureRect</key>
                <string>{{54,0},{54,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_02_attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.5,0.0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,64}</string>
                <key>spriteSourceSize</key>
                <string>{54,64}</string>
                <key>textureRect</key>
                <string>{{108,0},{54,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_02_climb_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.5,0.14063}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,64}</string>
                <key>spriteSourceSize</key>
                <string>{54,64}</string>
                <key>textureRect</key>
                <string>{{162,0},{54,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_02_climb_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.5,0.07813}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,64}</string>
                <key>spriteSourceSize</key>
                <string>{54,64}</string>
                <key>textureRect</key>
                <string>{{216,0},{54,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_02_climb_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.5,0.07813}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,64}</string>
                <key>spriteSourceSize</key>
                <string>{54,64}</string>
                <key>textureRect</key>
                <string>{{270,0},{54,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_02_climb_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.5,0.07813}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,64}</string>
                <key>spriteSourceSize</key>
                <string>{54,64}</string>
                <key>textureRect</key>
                <string>{{324,0},{54,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_02_climb_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.5,0.14063}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,64}</string>
                <key>spriteSourceSize</key>
                <string>{54,64}</string>
                <key>textureRect</key>
                <string>{{378,0},{54,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_02_climb_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.5,0.07813}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,64}</string>
                <key>spriteSourceSize</key>
                <string>{54,64}</string>
                <key>textureRect</key>
                <string>{{432,0},{54,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_02_climb_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.5,0.07813}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,64}</string>
                <key>spriteSourceSize</key>
                <string>{54,64}</string>
                <key>textureRect</key>
                <string>{{0,64},{54,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_02_climb_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.5,0.07813}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,64}</string>
                <key>spriteSourceSize</key>
                <string>{54,64}</string>
                <key>textureRect</key>
                <string>{{54,64},{54,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_02_death_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.5,0.0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,64}</string>
                <key>spriteSourceSize</key>
                <string>{54,64}</string>
                <key>textureRect</key>
                <string>{{108,64},{54,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_02_death_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.5,0.0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,64}</string>
                <key>spriteSourceSize</key>
                <string>{54,64}</string>
                <key>textureRect</key>
                <string>{{162,64},{54,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_02_death_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.5,0.0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,64}</string>
                <key>spriteSourceSize</key>
                <string>{54,64}</string>
                <key>textureRect</key>
                <string>{{216,64},{54,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_02_death_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.64815,0.0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,64}</string>
                <key>spriteSourceSize</key>
                <string>{54,64}</string>
                <key>textureRect</key>
                <string>{{270,64},{54,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_02_death_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.75926,0.0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,64}</string>
                <key>spriteSourceSize</key>
                <string>{54,64}</string>
                <key>textureRect</key>
                <string>{{324,64},{54,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_02_death_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.81481,0.0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,64}</string>
                <key>spriteSourceSize</key>
                <string>{54,64}</string>
                <key>textureRect</key>
                <string>{{378,64},{54,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_02_hurt_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.5,0.0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,64}</string>
                <key>spriteSourceSize</key>
                <string>{54,64}</string>
                <key>textureRect</key>
                <string>{{432,64},{54,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_02_hurt_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.5,0.0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,64}</string>
                <key>spriteSourceSize</key>
                <string>{54,64}</string>
                <key>textureRect</key>
                <string>{{0,128},{54,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_02_hurt_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.5,0.0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,64}</string>
                <key>spriteSourceSize</key>
                <string>{54,64}</string>
                <key>textureRect</key>
                <string>{{54,128},{54,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_02_hurt_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.5,0.0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,64}</string>
                <key>spriteSourceSize</key>
                <string>{54,64}</string>
                <key>textureRect</key>
                <string>{{108,128},{54,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_02_hurt_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.5,0.0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,64}</string>
                <key>spriteSourceSize</key>
                <string>{54,64}</string>
                <key>textureRect</key>
                <string>{{162,128},{54,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_02_idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.5,0.0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,64}</string>
                <key>spriteSourceSize</key>
                <string>{54,64}</string>
                <key>textureRect</key>
                <string>{{216,128},{54,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_02_idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.5,0.0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,64}</string>
                <key>spriteSourceSize</key>
                <string>{54,64}</string>
                <key>textureRect</key>
                <string>{{270,128},{54,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_02_idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.5,0.0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,64}</string>
                <key>spriteSourceSize</key>
                <string>{54,64}</string>
                <key>textureRect</key>
                <string>{{324,128},{54,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_02_idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.5,0.0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,64}</string>
                <key>spriteSourceSize</key>
                <string>{54,64}</string>
                <key>textureRect</key>
                <string>{{378,128},{54,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_02_jump_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.5,0.0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,64}</string>
                <key>spriteSourceSize</key>
                <string>{54,64}</string>
                <key>textureRect</key>
                <string>{{432,128},{54,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_02_jump_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.5,0.0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,64}</string>
                <key>spriteSourceSize</key>
                <string>{54,64}</string>
                <key>textureRect</key>
                <string>{{0,192},{54,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_02_jump_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.5,0.0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,64}</string>
                <key>spriteSourceSize</key>
                <string>{54,64}</string>
                <key>textureRect</key>
                <string>{{54,192},{54,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_02_jump_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.5,0.0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,64}</string>
                <key>spriteSourceSize</key>
                <string>{54,64}</string>
                <key>textureRect</key>
                <string>{{108,192},{54,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_02_jump_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.5,0.0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,64}</string>
                <key>spriteSourceSize</key>
                <string>{54,64}</string>
                <key>textureRect</key>
                <string>{{162,192},{54,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_02_jump_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.5,0.0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,64}</string>
                <key>spriteSourceSize</key>
                <string>{54,64}</string>
                <key>textureRect</key>
                <string>{{216,192},{54,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_02_run_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.5,0.0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,64}</string>
                <key>spriteSourceSize</key>
                <string>{54,64}</string>
                <key>textureRect</key>
                <string>{{270,192},{54,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_02_run_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.5,0.0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,64}</string>
                <key>spriteSourceSize</key>
                <string>{54,64}</string>
                <key>textureRect</key>
                <string>{{324,192},{54,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_02_run_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.5,0.0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,64}</string>
                <key>spriteSourceSize</key>
                <string>{54,64}</string>
                <key>textureRect</key>
                <string>{{378,192},{54,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_02_run_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.5,0.0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,64}</string>
                <key>spriteSourceSize</key>
                <string>{54,64}</string>
                <key>textureRect</key>
                <string>{{432,192},{54,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_02_run_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.5,0.0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,64}</string>
                <key>spriteSourceSize</key>
                <string>{54,64}</string>
                <key>textureRect</key>
                <string>{{0,256},{54,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_02_run_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.5,0.0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,64}</string>
                <key>spriteSourceSize</key>
                <string>{54,64}</string>
                <key>textureRect</key>
                <string>{{54,256},{54,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_02_run_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.5,0.0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,64}</string>
                <key>spriteSourceSize</key>
                <string>{54,64}</string>
                <key>textureRect</key>
                <string>{{108,256},{54,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_02_run_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.5,0.0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,64}</string>
                <key>spriteSourceSize</key>
                <string>{54,64}</string>
                <key>textureRect</key>
                <string>{{162,256},{54,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_02_run_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.5,0.0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,64}</string>
                <key>spriteSourceSize</key>
                <string>{54,64}</string>
                <key>textureRect</key>
                <string>{{216,256},{54,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_02_run_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.5,0.0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,64}</string>
                <key>spriteSourceSize</key>
                <string>{54,64}</string>
                <key>textureRect</key>
                <string>{{270,256},{54,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_02_run_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.5,0.0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,64}</string>
                <key>spriteSourceSize</key>
                <string>{54,64}</string>
                <key>textureRect</key>
                <string>{{324,256},{54,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_02_run_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.5,0.0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,64}</string>
                <key>spriteSourceSize</key>
                <string>{54,64}</string>
                <key>textureRect</key>
                <string>{{378,256},{54,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_02_wait.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.5,0.0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,64}</string>
                <key>spriteSourceSize</key>
                <string>{54,64}</string>
                <key>textureRect</key>
                <string>{{432,256},{54,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>player_02.png</string>
            <key>size</key>
            <string>{486,320}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:09890260471d1990c6f041b0fc2cd55e:e2cebca613eaf5af841cfd4684133255:833b4f96412ca08ef97b3366c080eb14$</string>
            <key>textureFileName</key>
            <string>player_02.png</string>
        </dict>
    </dict>
</plist>
