<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_01_attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.355,0.46087}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,230}</string>
                <key>spriteSourceSize</key>
                <string>{200,230}</string>
                <key>textureRect</key>
                <string>{{2,2},{200,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_01_attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.288,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,223}</string>
                <key>spriteSourceSize</key>
                <string>{250,223}</string>
                <key>textureRect</key>
                <string>{{204,2},{250,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_01_attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.274319,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,218}</string>
                <key>spriteSourceSize</key>
                <string>{257,218}</string>
                <key>textureRect</key>
                <string>{{456,2},{257,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_01_attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.559459,0.503257}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{370,307}</string>
                <key>spriteSourceSize</key>
                <string>{370,307}</string>
                <key>textureRect</key>
                <string>{{2,234},{370,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_01_attack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.584592,0.565693}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{331,274}</string>
                <key>spriteSourceSize</key>
                <string>{331,274}</string>
                <key>textureRect</key>
                <string>{{374,234},{331,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_01_hurt_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{275,270}</string>
                <key>spriteSourceSize</key>
                <string>{275,270}</string>
                <key>textureRect</key>
                <string>{{707,234},{275,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_01_idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,224}</string>
                <key>spriteSourceSize</key>
                <string>{172,224}</string>
                <key>textureRect</key>
                <string>{{2,543},{172,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_01_idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,225}</string>
                <key>spriteSourceSize</key>
                <string>{177,225}</string>
                <key>textureRect</key>
                <string>{{176,543},{177,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_01_idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,224}</string>
                <key>spriteSourceSize</key>
                <string>{172,224}</string>
                <key>textureRect</key>
                <string>{{355,543},{172,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_01_idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,226}</string>
                <key>spriteSourceSize</key>
                <string>{175,226}</string>
                <key>textureRect</key>
                <string>{{529,543},{175,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_01_run_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,210}</string>
                <key>spriteSourceSize</key>
                <string>{222,210}</string>
                <key>textureRect</key>
                <string>{{706,543},{222,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_01_run_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.523148,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,212}</string>
                <key>spriteSourceSize</key>
                <string>{216,212}</string>
                <key>textureRect</key>
                <string>{{2,771},{216,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_01_run_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.530516,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,210}</string>
                <key>spriteSourceSize</key>
                <string>{213,210}</string>
                <key>textureRect</key>
                <string>{{220,771},{213,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_01_wait.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,231}</string>
                <key>spriteSourceSize</key>
                <string>{273,231}</string>
                <key>textureRect</key>
                <string>{{435,771},{273,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>monster.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e2269592fdf6784f0b60de90b1c6e7f5:47c93a47b8a4b146b3b567b221e4bcc9:a6ae2b9304b7a9e734cf6a25f3604866$</string>
            <key>textureFileName</key>
            <string>monster.png</string>
        </dict>
    </dict>
</plist>
