<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>number_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,192}</string>
                <key>spriteSourceSize</key>
                <string>{128,192}</string>
                <key>textureRect</key>
                <string>{{2,2},{128,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>number_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,192}</string>
                <key>spriteSourceSize</key>
                <string>{64,192}</string>
                <key>textureRect</key>
                <string>{{132,2},{64,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>number_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,192}</string>
                <key>spriteSourceSize</key>
                <string>{128,192}</string>
                <key>textureRect</key>
                <string>{{198,2},{128,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>number_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,192}</string>
                <key>spriteSourceSize</key>
                <string>{128,192}</string>
                <key>textureRect</key>
                <string>{{328,2},{128,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>number_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,192}</string>
                <key>spriteSourceSize</key>
                <string>{128,192}</string>
                <key>textureRect</key>
                <string>{{458,2},{128,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>number_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,192}</string>
                <key>spriteSourceSize</key>
                <string>{128,192}</string>
                <key>textureRect</key>
                <string>{{588,2},{128,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>number_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,192}</string>
                <key>spriteSourceSize</key>
                <string>{128,192}</string>
                <key>textureRect</key>
                <string>{{718,2},{128,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>number_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,192}</string>
                <key>spriteSourceSize</key>
                <string>{128,192}</string>
                <key>textureRect</key>
                <string>{{848,2},{128,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>number_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,192}</string>
                <key>spriteSourceSize</key>
                <string>{128,192}</string>
                <key>textureRect</key>
                <string>{{978,2},{128,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>number_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,192}</string>
                <key>spriteSourceSize</key>
                <string>{128,192}</string>
                <key>textureRect</key>
                <string>{{1108,2},{128,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Number.png</string>
            <key>size</key>
            <string>{1238,196}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d43f603b13865000de2bc6574565604f:70d540c35fab7b346e6d974c55691e11:92e753c29b04487cd92927c8aa3ed6b7$</string>
            <key>textureFileName</key>
            <string>Number.png</string>
        </dict>
    </dict>
</plist>
