<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene_item_barrel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,30}</string>
                <key>spriteSourceSize</key>
                <string>{100,30}</string>
                <key>textureRect</key>
                <string>{{254,2},{100,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene_item_battery.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,30}</string>
                <key>spriteSourceSize</key>
                <string>{67,30}</string>
                <key>textureRect</key>
                <string>{{113,2},{67,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene_item_fulcrum.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,35}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{24,2},{35,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene_item_power_box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,35}</string>
                <key>spriteSourceSize</key>
                <string>{70,35}</string>
                <key>textureRect</key>
                <string>{{182,2},{70,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene_item_pulley.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{61,2},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene_item_rod.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,10}</string>
                <key>spriteSourceSize</key>
                <string>{400,10}</string>
                <key>textureRect</key>
                <string>{{2,291},{400,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene_item_shell.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{2,2},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene_item_stone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,235}</string>
                <key>spriteSourceSize</key>
                <string>{235,235}</string>
                <key>textureRect</key>
                <string>{{2,54},{235,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Scene_Item.png</string>
            <key>size</key>
            <string>{404,303}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a34925c06de97cfcdf20ae02100182d6:d0d1ea1a74ce3d3d9b01c1f271172152:8d42d3252dc199756e5ce07d6f9f583f$</string>
            <key>textureFileName</key>
            <string>Scene_Item.png</string>
        </dict>
    </dict>
</plist>
