<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene_item_fulcrum.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,35}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{2,2},{35,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene_item_pulley.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{39,2},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene_item_rod.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,10}</string>
                <key>spriteSourceSize</key>
                <string>{400,10}</string>
                <key>textureRect</key>
                <string>{{2,239},{400,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene_item_stone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,235}</string>
                <key>spriteSourceSize</key>
                <string>{235,235}</string>
                <key>textureRect</key>
                <string>{{91,2},{235,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Scene_Item.png</string>
            <key>size</key>
            <string>{404,251}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:599b85d2c3f6faa46f3d8a916984a98f:3b05372b1862f33f5fe170945b517e69:8d42d3252dc199756e5ce07d6f9f583f$</string>
            <key>textureFileName</key>
            <string>Scene_Item.png</string>
        </dict>
    </dict>
</plist>
