<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene_item_barrel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,30}</string>
                <key>spriteSourceSize</key>
                <string>{100,30}</string>
                <key>textureRect</key>
                <string>{{24,14},{100,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene_item_battery.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,30}</string>
                <key>spriteSourceSize</key>
                <string>{67,30}</string>
                <key>textureRect</key>
                <string>{{126,14},{67,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene_item_chemistry.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,152}</string>
                <key>spriteSourceSize</key>
                <string>{100,152}</string>
                <key>textureRect</key>
                <string>{{57,66},{100,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene_item_fulcrum.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,35}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{267,14},{35,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene_item_mirror.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,84}</string>
                <key>spriteSourceSize</key>
                <string>{53,84}</string>
                <key>textureRect</key>
                <string>{{2,66},{53,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene_item_power_box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,35}</string>
                <key>spriteSourceSize</key>
                <string>{70,35}</string>
                <key>textureRect</key>
                <string>{{195,14},{70,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene_item_pulley.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{304,14},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene_item_rod.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,10}</string>
                <key>spriteSourceSize</key>
                <string>{400,10}</string>
                <key>textureRect</key>
                <string>{{2,2},{400,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene_item_shell.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{2,14},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene_item_stone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,235}</string>
                <key>spriteSourceSize</key>
                <string>{235,235}</string>
                <key>textureRect</key>
                <string>{{159,66},{235,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Scene_Item.png</string>
            <key>size</key>
            <string>{404,303}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d736806c355dc96de45aed3fb7e53707:e7e906e5ffa83e09ec96ed3487360363:8d42d3252dc199756e5ce07d6f9f583f$</string>
            <key>textureFileName</key>
            <string>Scene_Item.png</string>
        </dict>
    </dict>
</plist>
