<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,200}</string>
                <key>spriteSourceSize</key>
                <string>{194,200}</string>
                <key>textureRect</key>
                <string>{{764,0},{194,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{309,208}</string>
                <key>spriteSourceSize</key>
                <string>{309,208}</string>
                <key>textureRect</key>
                <string>{{742,203},{309,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{344,204}</string>
                <key>spriteSourceSize</key>
                <string>{344,204}</string>
                <key>textureRect</key>
                <string>{{0,203},{344,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{338,196}</string>
                <key>spriteSourceSize</key>
                <string>{338,196}</string>
                <key>textureRect</key>
                <string>{{0,0},{338,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hurt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,254}</string>
                <key>spriteSourceSize</key>
                <string>{312,254}</string>
                <key>textureRect</key>
                <string>{{1334,203},{312,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,205}</string>
                <key>spriteSourceSize</key>
                <string>{198,205}</string>
                <key>textureRect</key>
                <string>{{344,203},{198,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,203}</string>
                <key>spriteSourceSize</key>
                <string>{196,203}</string>
                <key>textureRect</key>
                <string>{{1167,0},{196,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,199}</string>
                <key>spriteSourceSize</key>
                <string>{205,199}</string>
                <key>textureRect</key>
                <string>{{559,0},{205,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,206}</string>
                <key>spriteSourceSize</key>
                <string>{200,206}</string>
                <key>textureRect</key>
                <string>{{542,203},{200,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,197}</string>
                <key>spriteSourceSize</key>
                <string>{221,197}</string>
                <key>textureRect</key>
                <string>{{338,0},{221,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,203}</string>
                <key>spriteSourceSize</key>
                <string>{198,203}</string>
                <key>textureRect</key>
                <string>{{1588,0},{198,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,202}</string>
                <key>spriteSourceSize</key>
                <string>{209,202}</string>
                <key>textureRect</key>
                <string>{{958,0},{209,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,203}</string>
                <key>spriteSourceSize</key>
                <string>{225,203}</string>
                <key>textureRect</key>
                <string>{{1363,0},{225,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wait.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,209}</string>
                <key>spriteSourceSize</key>
                <string>{283,209}</string>
                <key>textureRect</key>
                <string>{{1051,203},{283,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>test.png</string>
            <key>size</key>
            <string>{1786,457}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:85eb89ff85798894edd5b0e36450eca7:3b8e2a9443b949548fad1270c4d05f64:96fb3d46aab20ec9eb9704de1ab972b6$</string>
            <key>textureFileName</key>
            <string>test.png</string>
        </dict>
    </dict>
</plist>
