<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>caoh2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,50}</string>
                <key>spriteSourceSize</key>
                <string>{160,50}</string>
                <key>textureRect</key>
                <string>{{2,2},{160,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>continue_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,50}</string>
                <key>spriteSourceSize</key>
                <string>{160,50}</string>
                <key>textureRect</key>
                <string>{{164,2},{160,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>continue_selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,50}</string>
                <key>spriteSourceSize</key>
                <string>{160,50}</string>
                <key>textureRect</key>
                <string>{{326,2},{160,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exit_game_scene_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,50}</string>
                <key>spriteSourceSize</key>
                <string>{160,50}</string>
                <key>textureRect</key>
                <string>{{2,54},{160,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exit_game_scene_selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,50}</string>
                <key>spriteSourceSize</key>
                <string>{160,50}</string>
                <key>textureRect</key>
                <string>{{164,54},{160,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exit_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,50}</string>
                <key>spriteSourceSize</key>
                <string>{160,50}</string>
                <key>textureRect</key>
                <string>{{326,54},{160,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exit_selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,50}</string>
                <key>spriteSourceSize</key>
                <string>{160,50}</string>
                <key>textureRect</key>
                <string>{{2,106},{160,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamestart_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,50}</string>
                <key>spriteSourceSize</key>
                <string>{160,50}</string>
                <key>textureRect</key>
                <string>{{164,106},{160,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamestart_selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,50}</string>
                <key>spriteSourceSize</key>
                <string>{160,50}</string>
                <key>textureRect</key>
                <string>{{326,106},{160,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h2co3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,50}</string>
                <key>spriteSourceSize</key>
                <string>{160,50}</string>
                <key>textureRect</key>
                <string>{{2,158},{160,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h2so4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,50}</string>
                <key>spriteSourceSize</key>
                <string>{160,50}</string>
                <key>textureRect</key>
                <string>{{164,158},{160,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hcl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,50}</string>
                <key>spriteSourceSize</key>
                <string>{160,50}</string>
                <key>textureRect</key>
                <string>{{326,158},{160,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>naoh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,50}</string>
                <key>spriteSourceSize</key>
                <string>{160,50}</string>
                <key>textureRect</key>
                <string>{{2,210},{160,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>option_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,50}</string>
                <key>spriteSourceSize</key>
                <string>{160,50}</string>
                <key>textureRect</key>
                <string>{{164,210},{160,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>option_selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,50}</string>
                <key>spriteSourceSize</key>
                <string>{160,50}</string>
                <key>textureRect</key>
                <string>{{326,210},{160,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>readdata_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,50}</string>
                <key>spriteSourceSize</key>
                <string>{160,50}</string>
                <key>textureRect</key>
                <string>{{2,262},{160,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>readdata_selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,50}</string>
                <key>spriteSourceSize</key>
                <string>{160,50}</string>
                <key>textureRect</key>
                <string>{{164,262},{160,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>savedata_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,50}</string>
                <key>spriteSourceSize</key>
                <string>{160,50}</string>
                <key>textureRect</key>
                <string>{{326,262},{160,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>savedata_selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,50}</string>
                <key>spriteSourceSize</key>
                <string>{160,50}</string>
                <key>textureRect</key>
                <string>{{2,314},{160,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,50}</string>
                <key>spriteSourceSize</key>
                <string>{160,50}</string>
                <key>textureRect</key>
                <string>{{164,314},{160,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>text.png</string>
            <key>size</key>
            <string>{488,366}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a5ef7b65aa63c60cea7c73900d8a131a:7d4b1f0797c3e1fd49e54f12c63f15cf:771fef741166e532cf41f06d8c5cfc62$</string>
            <key>textureFileName</key>
            <string>text.png</string>
        </dict>
    </dict>
</plist>
