<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tp_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{428,427}</string>
                <key>spriteSourceSize</key>
                <string>{428,427}</string>
                <key>textureRect</key>
                <string>{{0,0},{428,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tp_front.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{438,436}</string>
                <key>spriteSourceSize</key>
                <string>{438,436}</string>
                <key>textureRect</key>
                <string>{{428,0},{438,436}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>TP.png</string>
            <key>size</key>
            <string>{866,436}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:25dce0a1c162f6e57b650c450b9cd3a4:cb170c87fffbbddf21ae9d324be5fb2a:9a661db7cdd707c68d1ee5bfa540900f$</string>
            <key>textureFileName</key>
            <string>TP.png</string>
        </dict>
    </dict>
</plist>
