<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Button_Normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,110}</string>
                <key>spriteSourceSize</key>
                <string>{380,110}</string>
                <key>textureRect</key>
                <string>{{1,1},{380,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Button_Selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,110}</string>
                <key>spriteSourceSize</key>
                <string>{380,110}</string>
                <key>textureRect</key>
                <string>{{383,1},{380,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>UI.png</string>
            <key>size</key>
            <string>{764,112}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:515b5b8f4178acdccdf6f838f6fa4d26:90ac4138ad3fee7c414b2ac30cff9691:4d1c460786d5294715f9f3e199a00761$</string>
            <key>textureFileName</key>
            <string>UI.png</string>
        </dict>
    </dict>
</plist>
