<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Button_Normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,110}</string>
                <key>spriteSourceSize</key>
                <string>{380,110}</string>
                <key>textureRect</key>
                <string>{{2,843},{380,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Button_Selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,110}</string>
                <key>spriteSourceSize</key>
                <string>{380,110}</string>
                <key>textureRect</key>
                <string>{{384,843},{380,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>backpack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,839}</string>
                <key>spriteSourceSize</key>
                <string>{683,839}</string>
                <key>textureRect</key>
                <string>{{2,2},{683,839}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>charater_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{406,467}</string>
                <key>spriteSourceSize</key>
                <string>{406,467}</string>
                <key>textureRect</key>
                <string>{{2,955},{406,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menubar_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,101}</string>
                <key>spriteSourceSize</key>
                <string>{118,101}</string>
                <key>textureRect</key>
                <string>{{410,955},{118,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menubar_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,109}</string>
                <key>spriteSourceSize</key>
                <string>{110,109}</string>
                <key>textureRect</key>
                <string>{{530,955},{110,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menubar_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,102}</string>
                <key>spriteSourceSize</key>
                <string>{110,102}</string>
                <key>textureRect</key>
                <string>{{642,955},{110,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>UI.png</string>
            <key>size</key>
            <string>{766,1424}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d94d8e4c1dd7aeec3ea0da916ec8100:d78632c5a4d7b1d7e640df5292980cd1:4d1c460786d5294715f9f3e199a00761$</string>
            <key>textureFileName</key>
            <string>UI.png</string>
        </dict>
    </dict>
</plist>
