<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Button_Back_Normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,203}</string>
                <key>spriteSourceSize</key>
                <string>{380,203}</string>
                <key>textureRect</key>
                <string>{{2,461},{380,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Button_Back_Selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,192}</string>
                <key>spriteSourceSize</key>
                <string>{368,192}</string>
                <key>textureRect</key>
                <string>{{435,154},{368,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Button_Close_Normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,129}</string>
                <key>spriteSourceSize</key>
                <string>{129,129}</string>
                <key>textureRect</key>
                <string>{{380,2},{129,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Button_Close_Selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,129}</string>
                <key>spriteSourceSize</key>
                <string>{129,129}</string>
                <key>textureRect</key>
                <string>{{511,2},{129,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Button_Normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,110}</string>
                <key>spriteSourceSize</key>
                <string>{380,110}</string>
                <key>textureRect</key>
                <string>{{2,349},{380,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Button_Selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,110}</string>
                <key>spriteSourceSize</key>
                <string>{380,110}</string>
                <key>textureRect</key>
                <string>{{384,349},{380,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Empty_Heart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,193}</string>
                <key>spriteSourceSize</key>
                <string>{236,193}</string>
                <key>textureRect</key>
                <string>{{197,154},{236,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player_Ball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{642,2},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Red_Heart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,172}</string>
                <key>spriteSourceSize</key>
                <string>{193,172}</string>
                <key>textureRect</key>
                <string>{{2,154},{193,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>backpack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,839}</string>
                <key>spriteSourceSize</key>
                <string>{683,839}</string>
                <key>textureRect</key>
                <string>{{2,930},{683,839}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>charater_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{406,467}</string>
                <key>spriteSourceSize</key>
                <string>{406,467}</string>
                <key>textureRect</key>
                <string>{{384,461},{406,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{2,2},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menubar_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,101}</string>
                <key>spriteSourceSize</key>
                <string>{118,101}</string>
                <key>textureRect</key>
                <string>{{260,2},{118,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menubar_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,109}</string>
                <key>spriteSourceSize</key>
                <string>{110,109}</string>
                <key>textureRect</key>
                <string>{{148,2},{110,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menubar_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,102}</string>
                <key>spriteSourceSize</key>
                <string>{110,102}</string>
                <key>textureRect</key>
                <string>{{36,2},{110,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>UI_01.png</string>
            <key>size</key>
            <string>{805,1771}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:06f5e771a1cfb919849847c13c0cc028:dae3ae87c81c811a7fa0f1874a4019c4:8a2c249b250ce28de05cc57519e35b32$</string>
            <key>textureFileName</key>
            <string>UI_01.png</string>
        </dict>
    </dict>
</plist>
