<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Game_Pause_Normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,123}</string>
                <key>spriteSourceSize</key>
                <string>{123,123}</string>
                <key>textureRect</key>
                <string>{{400,2},{123,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Game_Pause_Selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,123}</string>
                <key>spriteSourceSize</key>
                <string>{123,123}</string>
                <key>textureRect</key>
                <string>{{275,2},{123,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>first_skill_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,90}</string>
                <key>spriteSourceSize</key>
                <string>{89,90}</string>
                <key>textureRect</key>
                <string>{{2,2},{89,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>second_skill_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,90}</string>
                <key>spriteSourceSize</key>
                <string>{89,90}</string>
                <key>textureRect</key>
                <string>{{93,2},{89,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_list.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,1145}</string>
                <key>spriteSourceSize</key>
                <string>{720,1145}</string>
                <key>textureRect</key>
                <string>{{2,127},{720,1145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>third_skill_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,90}</string>
                <key>spriteSourceSize</key>
                <string>{89,90}</string>
                <key>textureRect</key>
                <string>{{184,2},{89,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>UI_02.png</string>
            <key>size</key>
            <string>{724,1274}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a778c85941bb415eae0ca6a3cb5d0ba8:3da1525c904f532d4248cfada7fe90fe:c19f315fc34c19e4a98fc1b6ca97716b$</string>
            <key>textureFileName</key>
            <string>UI_02.png</string>
        </dict>
    </dict>
</plist>
