<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>first_skill_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,90}</string>
                <key>spriteSourceSize</key>
                <string>{89,90}</string>
                <key>textureRect</key>
                <string>{{2,2},{89,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>second_skill_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,90}</string>
                <key>spriteSourceSize</key>
                <string>{89,90}</string>
                <key>textureRect</key>
                <string>{{93,2},{89,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_list.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,1145}</string>
                <key>spriteSourceSize</key>
                <string>{720,1145}</string>
                <key>textureRect</key>
                <string>{{184,2},{720,1145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>third_skill_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,90}</string>
                <key>spriteSourceSize</key>
                <string>{89,90}</string>
                <key>textureRect</key>
                <string>{{906,2},{89,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>UI_02.png</string>
            <key>size</key>
            <string>{997,1149}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1ae482056764391591e57c9f2026ac86:d805e404471053f358e2210b1956452c:c19f315fc34c19e4a98fc1b6ca97716b$</string>
            <key>textureFileName</key>
            <string>UI_02.png</string>
        </dict>
    </dict>
</plist>
