<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_04_attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.54324,0.05036}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,139}</string>
                <key>spriteSourceSize</key>
                <string>{185,139}</string>
                <key>textureRect</key>
                <string>{{514,2},{185,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_04_attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.57407,0.02941}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,136}</string>
                <key>spriteSourceSize</key>
                <string>{162,136}</string>
                <key>textureRect</key>
                <string>{{2,2},{162,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_04_attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.03425}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,146}</string>
                <key>spriteSourceSize</key>
                <string>{175,146}</string>
                <key>textureRect</key>
                <string>{{337,2},{175,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_04_attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.49459,0.02597}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,154}</string>
                <key>spriteSourceSize</key>
                <string>{185,154}</string>
                <key>textureRect</key>
                <string>{{2,308},{185,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_04_attack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.47126,0.02649}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,151}</string>
                <key>spriteSourceSize</key>
                <string>{174,151}</string>
                <key>textureRect</key>
                <string>{{179,154},{174,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_04_attack_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.66098,0.10596}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,151}</string>
                <key>spriteSourceSize</key>
                <string>{205,151}</string>
                <key>textureRect</key>
                <string>{{371,308},{205,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_04_hurt_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.24157,0.06630}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,181}</string>
                <key>spriteSourceSize</key>
                <string>{178,181}</string>
                <key>textureRect</key>
                <string>{{578,308},{178,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_04_idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.41160,0.03289}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,152}</string>
                <key>spriteSourceSize</key>
                <string>{181,152}</string>
                <key>textureRect</key>
                <string>{{539,154},{181,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_04_idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.39941,0.02685}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,149}</string>
                <key>spriteSourceSize</key>
                <string>{169,149}</string>
                <key>textureRect</key>
                <string>{{166,2},{169,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_04_idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.44505,0.02703}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,148}</string>
                <key>spriteSourceSize</key>
                <string>{182,148}</string>
                <key>textureRect</key>
                <string>{{355,154},{182,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_04_idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.43143,0.01342}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,149}</string>
                <key>spriteSourceSize</key>
                <string>{175,149}</string>
                <key>textureRect</key>
                <string>{{2,154},{175,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_04_run_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.34884,0.03333}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,150}</string>
                <key>spriteSourceSize</key>
                <string>{172,150}</string>
                <key>textureRect</key>
                <string>{{701,2},{172,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_04_run_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.37222,0.03145}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,159}</string>
                <key>spriteSourceSize</key>
                <string>{180,159}</string>
                <key>textureRect</key>
                <string>{{189,308},{180,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_04_wait.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.41160,0.03289}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,152}</string>
                <key>spriteSourceSize</key>
                <string>{181,152}</string>
                <key>textureRect</key>
                <string>{{722,154},{181,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Monster_04.png</string>
            <key>size</key>
            <string>{905,491}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd07488303edc207c7bff39274106e26:aa4a624254925af12832777ef47d9f05:d195d57349072b4f3b13d09926f6c6c8$</string>
            <key>textureFileName</key>
            <string>Monster_04.png</string>
        </dict>
    </dict>
</plist>
