<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_11_attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.010929}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,183}</string>
                <key>spriteSourceSize</key>
                <string>{154,183}</string>
                <key>textureRect</key>
                <string>{{303,358},{154,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_11_attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.446309,0.010989}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,182}</string>
                <key>spriteSourceSize</key>
                <string>{149,182}</string>
                <key>textureRect</key>
                <string>{{152,358},{149,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_11_attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.7,0.0116279}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,172}</string>
                <key>spriteSourceSize</key>
                <string>{190,172}</string>
                <key>textureRect</key>
                <string>{{2,2},{190,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_11_attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.80605,0.0342857}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,175}</string>
                <key>spriteSourceSize</key>
                <string>{281,175}</string>
                <key>textureRect</key>
                <string>{{194,2},{281,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_11_hurt_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.260274,0.056701}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,194}</string>
                <key>spriteSourceSize</key>
                <string>{219,194}</string>
                <key>textureRect</key>
                <string>{{281,729},{219,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_11_idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.542254,0.0108696}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,184}</string>
                <key>spriteSourceSize</key>
                <string>{142,184}</string>
                <key>textureRect</key>
                <string>{{274,543},{142,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_11_idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.469925,0.00543478}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,184}</string>
                <key>spriteSourceSize</key>
                <string>{133,184}</string>
                <key>textureRect</key>
                <string>{{146,729},{133,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_11_idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.530769,0.00543478}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,184}</string>
                <key>spriteSourceSize</key>
                <string>{130,184}</string>
                <key>textureRect</key>
                <string>{{2,543},{130,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_11_idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.536232,0.0108696}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,184}</string>
                <key>spriteSourceSize</key>
                <string>{138,184}</string>
                <key>textureRect</key>
                <string>{{134,543},{138,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_11_run_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.0168539}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,178}</string>
                <key>spriteSourceSize</key>
                <string>{148,178}</string>
                <key>textureRect</key>
                <string>{{2,358},{148,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_11_run_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.0113636}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,176}</string>
                <key>spriteSourceSize</key>
                <string>{140,176}</string>
                <key>textureRect</key>
                <string>{{140,179},{140,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_11_run_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.493151,0.0112994}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,177}</string>
                <key>spriteSourceSize</key>
                <string>{146,177}</string>
                <key>textureRect</key>
                <string>{{282,179},{146,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_11_run_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.0113636}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,176}</string>
                <key>spriteSourceSize</key>
                <string>{136,176}</string>
                <key>textureRect</key>
                <string>{{2,179},{136,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_11_wait.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.542254,0.0108696}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,184}</string>
                <key>spriteSourceSize</key>
                <string>{142,184}</string>
                <key>textureRect</key>
                <string>{{2,729},{142,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Monster_11.png</string>
            <key>size</key>
            <string>{502,925}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7d784beeee32e6e32d84c76f32fd28bf:3774325eefdad12bf5b05e3851d9a961:27a1ee5bf9df956694cd100d43cd0cd7$</string>
            <key>textureFileName</key>
            <string>Monster_11.png</string>
        </dict>
    </dict>
</plist>
