<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_01_attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.32283,0.53211}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,109}</string>
                <key>spriteSourceSize</key>
                <string>{127,109}</string>
                <key>textureRect</key>
                <string>{{0,319},{127,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_01_attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.38931,0.50459}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,109}</string>
                <key>spriteSourceSize</key>
                <string>{131,109}</string>
                <key>textureRect</key>
                <string>{{127,319},{131,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_01_attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.37079,0.49533}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,107}</string>
                <key>spriteSourceSize</key>
                <string>{178,107}</string>
                <key>textureRect</key>
                <string>{{286,104},{178,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_01_attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.23224,0.47115}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,104}</string>
                <key>spriteSourceSize</key>
                <string>{183,104}</string>
                <key>textureRect</key>
                <string>{{163,0},{183,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_01_hurt_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.35838,0.50685}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,146}</string>
                <key>spriteSourceSize</key>
                <string>{173,146}</string>
                <key>textureRect</key>
                <string>{{254,429},{173,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_01_idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.24409,0.46847}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,111}</string>
                <key>spriteSourceSize</key>
                <string>{127,111}</string>
                <key>textureRect</key>
                <string>{{0,429},{127,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_01_idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.21986,0.47619}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,105}</string>
                <key>spriteSourceSize</key>
                <string>{141,105}</string>
                <key>textureRect</key>
                <string>{{0,104},{141,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_01_idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.20741,0.50000}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,108}</string>
                <key>spriteSourceSize</key>
                <string>{135,108}</string>
                <key>textureRect</key>
                <string>{{324,211},{135,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_01_idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.22069,0.47170}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,106}</string>
                <key>spriteSourceSize</key>
                <string>{145,106}</string>
                <key>textureRect</key>
                <string>{{141,104},{145,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_01_run_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.18405,0.41667}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,96}</string>
                <key>spriteSourceSize</key>
                <string>{163,96}</string>
                <key>textureRect</key>
                <string>{{0,0},{163,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_01_run_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.19149,0.47222}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,108}</string>
                <key>spriteSourceSize</key>
                <string>{188,108}</string>
                <key>textureRect</key>
                <string>{{0,211},{188,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_01_run_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.19853,0.47222}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,108}</string>
                <key>spriteSourceSize</key>
                <string>{136,108}</string>
                <key>textureRect</key>
                <string>{{188,211},{136,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_01_run_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.18792,0.48182}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,110}</string>
                <key>spriteSourceSize</key>
                <string>{149,110}</string>
                <key>textureRect</key>
                <string>{{258,319},{149,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_01_wait.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.23622,0.47748}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,111}</string>
                <key>spriteSourceSize</key>
                <string>{127,111}</string>
                <key>textureRect</key>
                <string>{{127,429},{127,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Monster_01.png</string>
            <key>size</key>
            <string>{464,575}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0645f6cef21381abdace05ebd6bc721b:a9ceb1aaf2bc0a38ad7b4fc299843204:97b4d2665ee1dc91c872c79bf8385590$</string>
            <key>textureFileName</key>
            <string>Monster_01.png</string>
        </dict>
    </dict>
</plist>
