<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_09_attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.39041,0.51042}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,192}</string>
                <key>spriteSourceSize</key>
                <string>{146,192}</string>
                <key>textureRect</key>
                <string>{{708,317},{146,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_09_attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.32035,0.46316}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,190}</string>
                <key>spriteSourceSize</key>
                <string>{231,190}</string>
                <key>textureRect</key>
                <string>{{475,317},{231,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_09_attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,198}</string>
                <key>spriteSourceSize</key>
                <string>{245,198}</string>
                <key>textureRect</key>
                <string>{{233,511},{245,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_09_attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,148}</string>
                <key>spriteSourceSize</key>
                <string>{207,148}</string>
                <key>textureRect</key>
                <string>{{2,151},{207,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_09_hurt_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.29478,0.35096}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,208}</string>
                <key>spriteSourceSize</key>
                <string>{268,208}</string>
                <key>textureRect</key>
                <string>{{480,511},{268,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_09_idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.35556,0.49390}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,164}</string>
                <key>spriteSourceSize</key>
                <string>{180,164}</string>
                <key>textureRect</key>
                <string>{{628,151},{180,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_09_idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.43089,0.41212}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,165}</string>
                <key>spriteSourceSize</key>
                <string>{246,165}</string>
                <key>textureRect</key>
                <string>{{2,317},{246,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_09_idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.42918,0.40789}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,152}</string>
                <key>spriteSourceSize</key>
                <string>{233,152}</string>
                <key>textureRect</key>
                <string>{{211,151},{233,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_09_idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.46188,0.28804}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,184}</string>
                <key>spriteSourceSize</key>
                <string>{223,184}</string>
                <key>textureRect</key>
                <string>{{250,317},{223,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_09_run_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.43966,0.35374}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,147}</string>
                <key>spriteSourceSize</key>
                <string>{232,147}</string>
                <key>textureRect</key>
                <string>{{430,2},{232,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_09_run_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.46288,0.25381}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{229,197}</string>
                <key>spriteSourceSize</key>
                <string>{229,197}</string>
                <key>textureRect</key>
                <string>{{2,511},{229,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_09_run_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.32584,0.40845}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,142}</string>
                <key>spriteSourceSize</key>
                <string>{178,142}</string>
                <key>textureRect</key>
                <string>{{250,2},{178,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_09_run_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.44309,0.40146}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,137}</string>
                <key>spriteSourceSize</key>
                <string>{246,137}</string>
                <key>textureRect</key>
                <string>{{2,2},{246,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_09_wait.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.35556,0.49390}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,164}</string>
                <key>spriteSourceSize</key>
                <string>{180,164}</string>
                <key>textureRect</key>
                <string>{{446,151},{180,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Monster_09.png</string>
            <key>size</key>
            <string>{856,721}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:78a958d9eee05307e5ce91a1adb2c56b:b089e5813d63e150546a91ced3dad67f:8f010e1544e90b7eb10643777fc24d54$</string>
            <key>textureFileName</key>
            <string>Monster_09.png</string>
        </dict>
    </dict>
</plist>
