<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_15_attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.404762,0.0291971}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,137}</string>
                <key>spriteSourceSize</key>
                <string>{168,137}</string>
                <key>textureRect</key>
                <string>{{199,141},{168,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_15_attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.338462,0.0437956}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,137}</string>
                <key>spriteSourceSize</key>
                <string>{195,137}</string>
                <key>textureRect</key>
                <string>{{2,141},{195,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_15_attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.815,0.0813953}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,172}</string>
                <key>spriteSourceSize</key>
                <string>{200,172}</string>
                <key>textureRect</key>
                <string>{{2,724},{200,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_15_attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.634286,0.0652174}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,138}</string>
                <key>spriteSourceSize</key>
                <string>{175,138}</string>
                <key>textureRect</key>
                <string>{{2,280},{175,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_15_hurt_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.3125,0.04}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,175}</string>
                <key>spriteSourceSize</key>
                <string>{176,175}</string>
                <key>textureRect</key>
                <string>{{204,724},{176,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_15_idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.520833,0.0145985}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,137}</string>
                <key>spriteSourceSize</key>
                <string>{144,137}</string>
                <key>textureRect</key>
                <string>{{155,2},{144,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_15_idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.554795,0.0283688}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,141}</string>
                <key>spriteSourceSize</key>
                <string>{146,141}</string>
                <key>textureRect</key>
                <string>{{159,422},{146,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_15_idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.496644,0.0212766}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,141}</string>
                <key>spriteSourceSize</key>
                <string>{149,141}</string>
                <key>textureRect</key>
                <string>{{307,422},{149,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_15_idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.490323,0.0214286}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,140}</string>
                <key>spriteSourceSize</key>
                <string>{155,140}</string>
                <key>textureRect</key>
                <string>{{2,422},{155,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_15_run_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.44375,0.0275862}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,145}</string>
                <key>spriteSourceSize</key>
                <string>{160,145}</string>
                <key>textureRect</key>
                <string>{{2,565},{160,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_15_run_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.627586,0.0573248}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,157}</string>
                <key>spriteSourceSize</key>
                <string>{145,157}</string>
                <key>textureRect</key>
                <string>{{164,565},{145,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_15_run_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.555556,0.0285714}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,140}</string>
                <key>spriteSourceSize</key>
                <string>{144,140}</string>
                <key>textureRect</key>
                <string>{{179,280},{144,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_15_run_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.443709,0.0218978}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,137}</string>
                <key>spriteSourceSize</key>
                <string>{151,137}</string>
                <key>textureRect</key>
                <string>{{2,2},{151,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_15_wait.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.506944,0.0218978}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,137}</string>
                <key>spriteSourceSize</key>
                <string>{144,137}</string>
                <key>textureRect</key>
                <string>{{301,2},{144,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Monster_15.png</string>
            <key>size</key>
            <string>{458,901}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5641c6412b03626e233e0369dab7cfb2:6e4dc82d97d8801b00bcbc3d02c995e4:eb53937f1f81e9111e398ad609e43e65$</string>
            <key>textureFileName</key>
            <string>Monster_15.png</string>
        </dict>
    </dict>
</plist>
