<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_06_attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.463687,0.0252101}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,119}</string>
                <key>spriteSourceSize</key>
                <string>{179,119}</string>
                <key>textureRect</key>
                <string>{{185,2},{179,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_06_attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.464286,0.0300752}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,133}</string>
                <key>spriteSourceSize</key>
                <string>{196,133}</string>
                <key>textureRect</key>
                <string>{{2,515},{196,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_06_attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.697368,0.0441176}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,136}</string>
                <key>spriteSourceSize</key>
                <string>{228,136}</string>
                <key>textureRect</key>
                <string>{{165,651},{228,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_06_attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.535912,0.034188}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,117}</string>
                <key>spriteSourceSize</key>
                <string>{181,117}</string>
                <key>textureRect</key>
                <string>{{2,2},{181,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_06_hurt_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.27673,0.056338}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,142}</string>
                <key>spriteSourceSize</key>
                <string>{159,142}</string>
                <key>textureRect</key>
                <string>{{189,789},{159,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_06_idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.404908,0.030303}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,132}</string>
                <key>spriteSourceSize</key>
                <string>{163,132}</string>
                <key>textureRect</key>
                <string>{{2,381},{163,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_06_idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.38674,0.0322581}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,124}</string>
                <key>spriteSourceSize</key>
                <string>{181,124}</string>
                <key>textureRect</key>
                <string>{{186,123},{181,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_06_idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.378531,0.0307692}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,130}</string>
                <key>spriteSourceSize</key>
                <string>{177,130}</string>
                <key>textureRect</key>
                <string>{{182,249},{177,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_06_idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.403727,0.0222222}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,135}</string>
                <key>spriteSourceSize</key>
                <string>{161,135}</string>
                <key>textureRect</key>
                <string>{{2,651},{161,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_06_run_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.351351,0.0217391}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,138}</string>
                <key>spriteSourceSize</key>
                <string>{185,138}</string>
                <key>textureRect</key>
                <string>{{2,789},{185,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_06_run_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.386364,0.0223881}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,134}</string>
                <key>spriteSourceSize</key>
                <string>{176,134}</string>
                <key>textureRect</key>
                <string>{{200,515},{176,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_06_run_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.362637,0.0333333}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,120}</string>
                <key>spriteSourceSize</key>
                <string>{182,120}</string>
                <key>textureRect</key>
                <string>{{2,123},{182,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_06_run_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.393258,0.0708661}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,127}</string>
                <key>spriteSourceSize</key>
                <string>{178,127}</string>
                <key>textureRect</key>
                <string>{{2,249},{178,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_06_wait.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.404908,0.0227273}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,132}</string>
                <key>spriteSourceSize</key>
                <string>{163,132}</string>
                <key>textureRect</key>
                <string>{{167,381},{163,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Monster_06.png</string>
            <key>size</key>
            <string>{395,933}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c64a3df520b487f46b17a4e5713f4bf0:2454cbb93b2c28d56b5976fdef01a51a:839fa1b31aacb20294da98a8f5bb95d0$</string>
            <key>textureFileName</key>
            <string>Monster_06.png</string>
        </dict>
    </dict>
</plist>
