<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_13_attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.416185,0.0198675}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,151}</string>
                <key>spriteSourceSize</key>
                <string>{173,151}</string>
                <key>textureRect</key>
                <string>{{149,2},{173,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_13_attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.413793,0.0253165}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,158}</string>
                <key>spriteSourceSize</key>
                <string>{145,158}</string>
                <key>textureRect</key>
                <string>{{2,2},{145,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_13_attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.67893,0.030303}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{299,165}</string>
                <key>spriteSourceSize</key>
                <string>{299,165}</string>
                <key>textureRect</key>
                <string>{{2,1036},{299,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_13_attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.504464,0.0425532}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,141}</string>
                <key>spriteSourceSize</key>
                <string>{224,141}</string>
                <key>textureRect</key>
                <string>{{224,162},{224,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_13_hurt_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.322727,0.0735294}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,204}</string>
                <key>spriteSourceSize</key>
                <string>{220,204}</string>
                <key>textureRect</key>
                <string>{{2,162},{220,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_13_idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.459227,0.0294118}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,136}</string>
                <key>spriteSourceSize</key>
                <string>{233,136}</string>
                <key>textureRect</key>
                <string>{{2,506},{233,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_13_idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.449393,0.0384615}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,130}</string>
                <key>spriteSourceSize</key>
                <string>{247,130}</string>
                <key>textureRect</key>
                <string>{{2,775},{247,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_13_idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.45679,0.0310078}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,129}</string>
                <key>spriteSourceSize</key>
                <string>{243,129}</string>
                <key>textureRect</key>
                <string>{{2,644},{243,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_13_idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.475771,0.0296296}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,135}</string>
                <key>spriteSourceSize</key>
                <string>{227,135}</string>
                <key>textureRect</key>
                <string>{{2,368},{227,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_13_run_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.368852,0.046875}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,128}</string>
                <key>spriteSourceSize</key>
                <string>{244,128}</string>
                <key>textureRect</key>
                <string>{{247,644},{244,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_13_run_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.39834,0.0165289}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,121}</string>
                <key>spriteSourceSize</key>
                <string>{241,121}</string>
                <key>textureRect</key>
                <string>{{237,506},{241,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_13_run_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.425703,0.0234375}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,128}</string>
                <key>spriteSourceSize</key>
                <string>{249,128}</string>
                <key>textureRect</key>
                <string>{{251,775},{249,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_13_run_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.38189,0.0314961}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,127}</string>
                <key>spriteSourceSize</key>
                <string>{254,127}</string>
                <key>textureRect</key>
                <string>{{2,907},{254,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_13_wait.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.463519,0.0294118}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,136}</string>
                <key>spriteSourceSize</key>
                <string>{233,136}</string>
                <key>textureRect</key>
                <string>{{231,368},{233,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Monster_13.png</string>
            <key>size</key>
            <string>{502,1203}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:15110b55a84d49e5c36e8c40eaf6e3cb:ef0e8827bb13cd2f0318bbc5512d9d8c:55af0727cb90b36cc00f1cc05b7a5fe4$</string>
            <key>textureFileName</key>
            <string>Monster_13.png</string>
        </dict>
    </dict>
</plist>
