<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_14_attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.619048,0.027027}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,111}</string>
                <key>spriteSourceSize</key>
                <string>{126,111}</string>
                <key>textureRect</key>
                <string>{{2,2},{126,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_14_attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.546154,0.0176991}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,113}</string>
                <key>spriteSourceSize</key>
                <string>{130,113}</string>
                <key>textureRect</key>
                <string>{{130,2},{130,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_14_attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.441989,0.0172414}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,116}</string>
                <key>spriteSourceSize</key>
                <string>{181,116}</string>
                <key>textureRect</key>
                <string>{{262,2},{181,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_14_attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.55122,0.0707965}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,113}</string>
                <key>spriteSourceSize</key>
                <string>{205,113}</string>
                <key>textureRect</key>
                <string>{{2,120},{205,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_14_hurt_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.480663,0.025641}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,117}</string>
                <key>spriteSourceSize</key>
                <string>{181,117}</string>
                <key>textureRect</key>
                <string>{{209,120},{181,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_14_idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.413534,0.0178571}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,112}</string>
                <key>spriteSourceSize</key>
                <string>{133,112}</string>
                <key>textureRect</key>
                <string>{{2,239},{133,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_14_idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.381944,0.0267857}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,112}</string>
                <key>spriteSourceSize</key>
                <string>{144,112}</string>
                <key>textureRect</key>
                <string>{{137,239},{144,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_14_idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.412587,0.0263158}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,114}</string>
                <key>spriteSourceSize</key>
                <string>{143,114}</string>
                <key>textureRect</key>
                <string>{{283,239},{143,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_14_idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.425373,0.0265487}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,113}</string>
                <key>spriteSourceSize</key>
                <string>{134,113}</string>
                <key>textureRect</key>
                <string>{{2,355},{134,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_14_run_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.464286,0.0185185}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,108}</string>
                <key>spriteSourceSize</key>
                <string>{140,108}</string>
                <key>textureRect</key>
                <string>{{138,355},{140,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_14_run_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.422581,0.0272727}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,110}</string>
                <key>spriteSourceSize</key>
                <string>{155,110}</string>
                <key>textureRect</key>
                <string>{{280,355},{155,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_14_run_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.446309,0.0272727}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,110}</string>
                <key>spriteSourceSize</key>
                <string>{149,110}</string>
                <key>textureRect</key>
                <string>{{2,470},{149,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_14_run_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.485507,0.00892857}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,112}</string>
                <key>spriteSourceSize</key>
                <string>{138,112}</string>
                <key>textureRect</key>
                <string>{{153,470},{138,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_14_wait.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.413534,0.0178571}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,112}</string>
                <key>spriteSourceSize</key>
                <string>{133,112}</string>
                <key>textureRect</key>
                <string>{{293,470},{133,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Monster_14.png</string>
            <key>size</key>
            <string>{445,584}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3aa6b5948e7bae276fd92b26bb8e6ede:74ac5e26e5268ed9641f46d0733e65a4:f213996626a09a47621c032fd6a6a350$</string>
            <key>textureFileName</key>
            <string>Monster_14.png</string>
        </dict>
    </dict>
</plist>
