<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_02_attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.50000,0.01075}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,186}</string>
                <key>spriteSourceSize</key>
                <string>{219,186}</string>
                <key>textureRect</key>
                <string>{{2,2},{219,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_02_attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.41549,0.01064}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,188}</string>
                <key>spriteSourceSize</key>
                <string>{213,188}</string>
                <key>textureRect</key>
                <string>{{223,2},{213,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_02_attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.81365,0.00952}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,210}</string>
                <key>spriteSourceSize</key>
                <string>{271,210}</string>
                <key>textureRect</key>
                <string>{{2,585},{271,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_02_attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.82624,0.02586}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,232}</string>
                <key>spriteSourceSize</key>
                <string>{282,232}</string>
                <key>textureRect</key>
                <string>{{2,1253},{282,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_02_hurt_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.39350,0.03524}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,227}</string>
                <key>spriteSourceSize</key>
                <string>{277,227}</string>
                <key>textureRect</key>
                <string>{{170,1024},{277,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_02_idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.39759,0.03211}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,218}</string>
                <key>spriteSourceSize</key>
                <string>{166,218}</string>
                <key>textureRect</key>
                <string>{{2,1024},{166,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_02_idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.40244,0.03226}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,217}</string>
                <key>spriteSourceSize</key>
                <string>{164,217}</string>
                <key>textureRect</key>
                <string>{{166,804},{164,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_02_idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.41975,0.02765}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,217}</string>
                <key>spriteSourceSize</key>
                <string>{162,217}</string>
                <key>textureRect</key>
                <string>{{2,804},{162,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_02_idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.40854,0.03226}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,217}</string>
                <key>spriteSourceSize</key>
                <string>{164,217}</string>
                <key>textureRect</key>
                <string>{{275,585},{164,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_02_run_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.66590,0.00000}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,196}</string>
                <key>spriteSourceSize</key>
                <string>{217,196}</string>
                <key>textureRect</key>
                <string>{{220,387},{217,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_02_run_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.69444,0.01047}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,191}</string>
                <key>spriteSourceSize</key>
                <string>{216,191}</string>
                <key>textureRect</key>
                <string>{{2,192},{216,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_02_run_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.66055,0.03109}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,193}</string>
                <key>spriteSourceSize</key>
                <string>{218,193}</string>
                <key>textureRect</key>
                <string>{{220,192},{218,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_02_run_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.65278,0.02062}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,194}</string>
                <key>spriteSourceSize</key>
                <string>{216,194}</string>
                <key>textureRect</key>
                <string>{{2,387},{216,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_02_wait.png</key>
            <dict>
                <key>aliases</key>
                <array/>
				<key>anchor</key>
                <string>{0.39759,0.03211}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,218}</string>
                <key>spriteSourceSize</key>
                <string>{166,218}</string>
                <key>textureRect</key>
                <string>{{332,804},{166,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Monster_02.png</string>
            <key>size</key>
            <string>{500,1487}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1ac5c3ff90c262fdf5c829db44d82473:b03aa949b7339a1d91e89bebfefd0f74:ffe83150ac1970abf600174e389deaf9$</string>
            <key>textureFileName</key>
            <string>Monster_02.png</string>
        </dict>
    </dict>
</plist>
