<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_03_attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.45989,0.02367}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,169}</string>
                <key>spriteSourceSize</key>
                <string>{187,169}</string>
                <key>textureRect</key>
                <string>{{2,2},{187,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_03_attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.38911,0.08000}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,175}</string>
                <key>spriteSourceSize</key>
                <string>{257,175}</string>
                <key>textureRect</key>
                <string>{{191,2},{257,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_03_attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.52941,0.03429}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,175}</string>
                <key>spriteSourceSize</key>
                <string>{136,175}</string>
                <key>textureRect</key>
                <string>{{2,179},{136,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_03_attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.39320,0.11957}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,184}</string>
                <key>spriteSourceSize</key>
                <string>{206,184}</string>
                <key>textureRect</key>
                <string>{{140,179},{206,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_03_hurt_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.33766,0.02128}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,188}</string>
                <key>spriteSourceSize</key>
                <string>{154,188}</string>
                <key>textureRect</key>
                <string>{{348,179},{154,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_03_idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,173}</string>
                <key>spriteSourceSize</key>
                <string>{143,173}</string>
                <key>textureRect</key>
                <string>{{2,369},{143,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_03_idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,171}</string>
                <key>spriteSourceSize</key>
                <string>{141,171}</string>
                <key>textureRect</key>
                <string>{{147,369},{141,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_03_idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,169}</string>
                <key>spriteSourceSize</key>
                <string>{141,169}</string>
                <key>textureRect</key>
                <string>{{290,369},{141,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_03_idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,169}</string>
                <key>spriteSourceSize</key>
                <string>{140,169}</string>
                <key>textureRect</key>
                <string>{{2,544},{140,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_03_run_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,161}</string>
                <key>spriteSourceSize</key>
                <string>{157,161}</string>
                <key>textureRect</key>
                <string>{{144,544},{157,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_03_run_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.48214,0.0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,165}</string>
                <key>spriteSourceSize</key>
                <string>{168,165}</string>
                <key>textureRect</key>
                <string>{{303,544},{168,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_03_run_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.57742,0.00602}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,166}</string>
                <key>spriteSourceSize</key>
                <string>{155,166}</string>
                <key>textureRect</key>
                <string>{{2,715},{155,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_03_run_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.42308,0.00606}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,165}</string>
                <key>spriteSourceSize</key>
                <string>{182,165}</string>
                <key>textureRect</key>
                <string>{{159,715},{182,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_03_wait.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,173}</string>
                <key>spriteSourceSize</key>
                <string>{143,173}</string>
                <key>textureRect</key>
                <string>{{343,715},{143,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Monster_03.png</string>
            <key>size</key>
            <string>{504,890}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28ac107e39d73bb58b33b87fbac91ab5:cf5ff4488bc90fd19c687337c02fa7e3:391e78f9899e09a43b965c37b799d906$</string>
            <key>textureFileName</key>
            <string>Monster_03.png</string>
        </dict>
    </dict>
</plist>
