<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_12_attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.368421,0.308989}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,178}</string>
                <key>spriteSourceSize</key>
                <string>{209,178}</string>
                <key>textureRect</key>
                <string>{{2,2},{209,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_12_attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.436893,0.363184}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{309,201}</string>
                <key>spriteSourceSize</key>
                <string>{309,201}</string>
                <key>textureRect</key>
                <string>{{213,2},{309,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_12_attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.448276,0.419355}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{319,155}</string>
                <key>spriteSourceSize</key>
                <string>{319,155}</string>
                <key>textureRect</key>
                <string>{{524,2},{319,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_12_attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.143251,0.29148}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{363,223}</string>
                <key>spriteSourceSize</key>
                <string>{363,223}</string>
                <key>textureRect</key>
                <string>{{2,205},{363,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_12_hurt_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.333333,0.418699}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,246}</string>
                <key>spriteSourceSize</key>
                <string>{312,246}</string>
                <key>textureRect</key>
                <string>{{367,205},{312,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_12_idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.353488,0.263374}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,243}</string>
                <key>spriteSourceSize</key>
                <string>{215,243}</string>
                <key>textureRect</key>
                <string>{{681,205},{215,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_12_idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.348624,0.226087}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,230}</string>
                <key>spriteSourceSize</key>
                <string>{218,230}</string>
                <key>textureRect</key>
                <string>{{2,453},{218,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_12_idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.316832,0.236181}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,199}</string>
                <key>spriteSourceSize</key>
                <string>{202,199}</string>
                <key>textureRect</key>
                <string>{{222,453},{202,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_12_idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.303922,0.244541}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,229}</string>
                <key>spriteSourceSize</key>
                <string>{204,229}</string>
                <key>textureRect</key>
                <string>{{426,453},{204,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_12_run_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.227468,0.233945}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,218}</string>
                <key>spriteSourceSize</key>
                <string>{233,218}</string>
                <key>textureRect</key>
                <string>{{632,453},{233,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_12_run_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.206897,0.298913}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,184}</string>
                <key>spriteSourceSize</key>
                <string>{232,184}</string>
                <key>textureRect</key>
                <string>{{2,685},{232,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_12_run_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.229665,0.242857}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,210}</string>
                <key>spriteSourceSize</key>
                <string>{209,210}</string>
                <key>textureRect</key>
                <string>{{236,685},{209,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_12_run_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.211618,0.267281}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,217}</string>
                <key>spriteSourceSize</key>
                <string>{241,217}</string>
                <key>textureRect</key>
                <string>{{447,685},{241,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_12_wait.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.348837,0.259259}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,243}</string>
                <key>spriteSourceSize</key>
                <string>{215,243}</string>
                <key>textureRect</key>
                <string>{{690,685},{215,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Monster_12.png</string>
            <key>size</key>
            <string>{907,930}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f077e59e08d15ed5db050d3e2f536330:2effe2c1b275a90a93e0053f3d693adf:b1c335a34241431bae74713fa8d6e3ee$</string>
            <key>textureFileName</key>
            <string>Monster_12.png</string>
        </dict>
    </dict>
</plist>
