<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_08_attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,170}</string>
                <key>spriteSourceSize</key>
                <string>{190,170}</string>
                <key>textureRect</key>
                <string>{{188,725},{190,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_08_attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,151}</string>
                <key>spriteSourceSize</key>
                <string>{167,151}</string>
                <key>textureRect</key>
                <string>{{219,572},{167,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_08_attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,173}</string>
                <key>spriteSourceSize</key>
                <string>{250,173}</string>
                <key>textureRect</key>
                <string>{{2,897},{250,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_08_attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,176}</string>
                <key>spriteSourceSize</key>
                <string>{245,176}</string>
                <key>textureRect</key>
                <string>{{254,897},{245,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_08_hurt_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,160}</string>
                <key>spriteSourceSize</key>
                <string>{184,160}</string>
                <key>textureRect</key>
                <string>{{2,725},{184,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_08_idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,137}</string>
                <key>spriteSourceSize</key>
                <string>{222,137}</string>
                <key>textureRect</key>
                <string>{{2,129},{222,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_08_idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,150}</string>
                <key>spriteSourceSize</key>
                <string>{198,150}</string>
                <key>textureRect</key>
                <string>{{2,419},{198,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_08_idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,151}</string>
                <key>spriteSourceSize</key>
                <string>{215,151}</string>
                <key>textureRect</key>
                <string>{{2,572},{215,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_08_idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,149}</string>
                <key>spriteSourceSize</key>
                <string>{216,149}</string>
                <key>textureRect</key>
                <string>{{217,268},{216,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_08_run_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,125}</string>
                <key>spriteSourceSize</key>
                <string>{243,125}</string>
                <key>textureRect</key>
                <string>{{237,2},{243,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_08_run_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,151}</string>
                <key>spriteSourceSize</key>
                <string>{231,151}</string>
                <key>textureRect</key>
                <string>{{202,419},{231,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_08_run_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.50215,0.33019}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,106}</string>
                <key>spriteSourceSize</key>
                <string>{233,106}</string>
                <key>textureRect</key>
                <string>{{2,2},{233,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_08_run_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.48826,0.27857}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,140}</string>
                <key>spriteSourceSize</key>
                <string>{213,140}</string>
                <key>textureRect</key>
                <string>{{2,268},{213,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_08_wait.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,137}</string>
                <key>spriteSourceSize</key>
                <string>{222,137}</string>
                <key>textureRect</key>
                <string>{{226,129},{222,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Monster_08.png</string>
            <key>size</key>
            <string>{501,1075}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cd12adb6dc55ab7fdc049024b2fa20ed:1ba3e4b4a2b5a325d3683113085d8886:56f72d79019fa1edb5ea0ece755d7f63$</string>
            <key>textureFileName</key>
            <string>Monster_08.png</string>
        </dict>
    </dict>
</plist>
