<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_07_attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.68085,0.14789}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,142}</string>
                <key>spriteSourceSize</key>
                <string>{188,142}</string>
                <key>textureRect</key>
                <string>{{522,2},{188,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_07_attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.64428,0.21711}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,152}</string>
                <key>spriteSourceSize</key>
                <string>{201,152}</string>
                <key>textureRect</key>
                <string>{{377,147},{201,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_07_attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.66201,0.03268}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,153}</string>
                <key>spriteSourceSize</key>
                <string>{179,153}</string>
                <key>textureRect</key>
                <string>{{778,147},{179,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_07_attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.70803,0.02660}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,188}</string>
                <key>spriteSourceSize</key>
                <string>{274,188}</string>
                <key>textureRect</key>
                <string>{{406,302},{274,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_07_attack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.61282,0.03333}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,150}</string>
                <key>spriteSourceSize</key>
                <string>{195,150}</string>
                <key>textureRect</key>
                <string>{{180,147},{195,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_07_hurt_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.45583,0.10995}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,191}</string>
                <key>spriteSourceSize</key>
                <string>{283,191}</string>
                <key>textureRect</key>
                <string>{{682,302},{283,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_07_idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.70588,0.02113}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,142}</string>
                <key>spriteSourceSize</key>
                <string>{170,142}</string>
                <key>textureRect</key>
                <string>{{178,2},{170,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_07_idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.70231,0.02098}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,143}</string>
                <key>spriteSourceSize</key>
                <string>{173,143}</string>
                <key>textureRect</key>
                <string>{{712,2},{173,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_07_idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.69886,0.02098}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,143}</string>
                <key>spriteSourceSize</key>
                <string>{176,143}</string>
                <key>textureRect</key>
                <string>{{2,147},{176,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_07_idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.70115,0.02128}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,141}</string>
                <key>spriteSourceSize</key>
                <string>{174,141}</string>
                <key>textureRect</key>
                <string>{{2,2},{174,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_07_run_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.62439,0.08387}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,155}</string>
                <key>spriteSourceSize</key>
                <string>{205,155}</string>
                <key>textureRect</key>
                <string>{{2,302},{205,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_07_run_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.70408,0.07843}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,153}</string>
                <key>spriteSourceSize</key>
                <string>{196,153}</string>
                <key>textureRect</key>
                <string>{{580,147},{196,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_07_run_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.69744,0.14103}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,156}</string>
                <key>spriteSourceSize</key>
                <string>{195,156}</string>
                <key>textureRect</key>
                <string>{{209,302},{195,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_07_wait.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.70588,0.02113}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,142}</string>
                <key>spriteSourceSize</key>
                <string>{170,142}</string>
                <key>textureRect</key>
                <string>{{350,2},{170,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Monster_07.png</string>
            <key>size</key>
            <string>{967,495}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:221c26d309bf81ab93a152ce0a476ed3:4e645b68ccbf6c3661957c3b5b071cc6:fd43124646654f9ba264c2fc22057e0a$</string>
            <key>textureFileName</key>
            <string>Monster_07.png</string>
        </dict>
    </dict>
</plist>
